@use '../abstracts/vars';
@use '../base/mixins';
@use '../abstracts/media-queries';

.principal-title{
    @include mixins.set-font(vars.$fw-bold, vars.$fs-lg, vars.$clr-white);
    text-align: left;
    line-height: 5rem;
    text-transform: uppercase;
    width: 80%;
    @include media-queries.respond-to(media-queries.$phone){
      @include mixins.set-font(vars.$fw-bold, vars.$fs-mdl, vars.$clr-white);
      line-height: 2.5rem;
      width: 100%;
  }
  }

  .titles{
    @include mixins.set-font(vars.$fw-bold, vars.$fs-mdl, vars.$clr-orange-100);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    
    span{
        @include mixins.set-font(vars.$fw-bold, vars.$fs-mdl, vars.$clr-orange-200);
    }
  }

  .profile-data{
    @include mixins.set-font(vars.$fw-light, vars.$fs-rg, vars.$clr-light-black-2);
    text-align: center;
    text-transform: uppercase;
  }

  .profile-data-title{
    @include mixins.set-font(vars.$fw-bold, vars.$fs-rg, vars.$clr-orange-100);
    text-align: center;
    text-transform: uppercase;
  }