/* VARIABLES*/
/* custum properties - constants */
/* custom properties - constants */
/* font & weight */
/* 16 18 20 24 64 80 */
/* font sizes */
/* colors */
/*  h -> hue/color 0/360, s -> saturation 0/100, l -> lightness 0/100, a -> alpha 0/1 */
/* VARIABLES*/
/* custum properties - constants */
/* custom properties - constants */
/* font & weight */
/* 16 18 20 24 64 80 */
/* font sizes */
/* colors */
/*  h -> hue/color 0/360, s -> saturation 0/100, l -> lightness 0/100, a -> alpha 0/1 */
.principal-title {
  font-weight: 700;
  font-size: 4rem;
  color: hsl(0deg, 0%, 100%);
  text-align: left;
  line-height: 5rem;
  text-transform: uppercase;
  width: 80%;
}

@media only screen and (max-width: 480px) {
  .principal-title {
    font-weight: 700;
    font-size: 2.125rem;
    color: hsl(0deg, 0%, 100%);
    line-height: 2.5rem;
    width: 100%;
  }
}
.titles {
  font-weight: 700;
  font-size: 2.125rem;
  color: #d54630;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
}

.titles span {
  font-weight: 700;
  font-size: 2.125rem;
  color: hsl(6deg, 45%, 64%);
}

.category-title {
  font-weight: 700;
  font-size: 1.25rem;
  color: #d54630;
}

.profile-data {
  font-weight: 300;
  font-size: 1.25rem;
  color: rgb(37, 37, 37);
  text-align: center;
  text-transform: uppercase;
}

.profile-data-title {
  font-weight: 700;
  font-size: 1.25rem;
  color: #d54630;
  text-align: center;
  text-transform: uppercase;
}

header {
  background: #d54630;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: 0.1rem solid;
  border-color: hsl(6deg, 45%, 64%);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
header nav a {
  text-decoration: underline;
  list-style: none;
  padding: 0.7rem;
  color: hsl(0deg, 0%, 100%);
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1.125rem;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}
header nav a:hover {
  color: black;
  border-bottom: 0.1rem solid black;
  padding-bottom: 1.1rem;
  text-decoration: none;
}

.custom-container {
  padding: 2rem 7%;
}

.inicio {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  background-color: #d54630;
}
.inicio p {
  font-weight: 300;
  font-size: 1.5rem;
  color: hsl(0deg, 0%, 100%);
  line-height: 1.8;
  padding: 1rem 0;
  color: hsl(0deg, 0%, 100%);
  text-align: left;
  text-transform: capitalize;
}
@media only screen and (max-width: 480px) {
  .inicio p {
    font-weight: 300;
    font-size: 1.125rem;
    color: hsl(0deg, 0%, 100%);
  }
}

footer {
  background: #d54630;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 7%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
footer nav a {
  text-decoration: underline;
  list-style: none;
  padding: 0.7rem;
  color: hsl(0deg, 0%, 100%);
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1.125rem;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}
footer nav a:hover {
  color: black;
  border-bottom: 0.1rem solid black;
  padding-bottom: 1.1rem;
  text-decoration: none;
}

.credits {
  font-weight: 300;
  font-size: 1.125rem;
  color: hsl(0deg, 0%, 100%);
  padding: 1.5rem;
}

hr {
  margin: 2rem 0;
  border: none;
  border-top: 1px solid #d54630;
}

/* VARIABLES*/
/* custum properties - constants */
/* custom properties - constants */
/* font & weight */
/* 16 18 20 24 64 80 */
/* font sizes */
/* colors */
/*  h -> hue/color 0/360, s -> saturation 0/100, l -> lightness 0/100, a -> alpha 0/1 */
.principal-title {
  font-weight: 700;
  font-size: 4rem;
  color: hsl(0deg, 0%, 100%);
  text-align: left;
  line-height: 5rem;
  text-transform: uppercase;
  width: 80%;
}
@media only screen and (max-width: 480px) {
  .principal-title {
    font-weight: 700;
    font-size: 2.125rem;
    color: hsl(0deg, 0%, 100%);
    line-height: 2.5rem;
    width: 100%;
  }
}

.titles {
  font-weight: 700;
  font-size: 2.125rem;
  color: #d54630;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
}
.titles span {
  font-weight: 700;
  font-size: 2.125rem;
  color: hsl(6deg, 45%, 64%);
}

.category-title {
  font-weight: 700;
  font-size: 1.25rem;
  color: #d54630;
}

.profile-data {
  font-weight: 300;
  font-size: 1.25rem;
  color: rgb(37, 37, 37);
  text-align: center;
  text-transform: uppercase;
}

.profile-data-title {
  font-weight: 700;
  font-size: 1.25rem;
  color: #d54630;
  text-align: center;
  text-transform: uppercase;
}

/* VARIABLES*/
/* custum properties - constants */
/* custom properties - constants */
/* font & weight */
/* 16 18 20 24 64 80 */
/* font sizes */
/* colors */
/*  h -> hue/color 0/360, s -> saturation 0/100, l -> lightness 0/100, a -> alpha 0/1 */
/* VARIABLES*/
/* custum properties - constants */
/* custom properties - constants */
/* font & weight */
/* 16 18 20 24 64 80 */
/* font sizes */
/* colors */
/*  h -> hue/color 0/360, s -> saturation 0/100, l -> lightness 0/100, a -> alpha 0/1 */
.btn-inicio {
  font-weight: 300;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  border: none;
  background-color: hsl(0deg, 0%, 100%);
  color: #d54630;
  display: inline-block;
  padding: 0.9rem 3rem;
}

.btn-search {
  font-weight: 300;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  border: none;
  background-color: hsl(0deg, 0%, 100%);
  color: #d54630;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.btn-search:hover {
  font-weight: 300;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  border: none;
  background-color: hsl(6deg, 45%, 64%);
  color: rgb(37, 37, 37);
}

.like-btn {
  padding: 0.5rem;
  height: 50px;
  width: 55px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.view-recipe-btn {
  padding: 0.5rem;
  height: 50px;
  width: 55px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.like-btn:hover {
  height: 60px;
  width: 65px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  opacity: 80%;
}

.view-recipe-btn:hover {
  height: 65px;
  width: 70px;
  opacity: 80%;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: var(--black);
  width: 50rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top input;
          transform-origin: top input;
  transform-origin-height: 100%;
  transform-origin-width: 100%;
  transform-origin-font-size: 1.6rem;
  transform-origin-color: var(--black);
  transform-origin-padding: 1rem;
  transform-origin-text-transform: none;
}
.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);
}
.header .search-form label:hover {
  color: var(--main-color);
}
.header .search-form.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.btn-group .button {
  text-transform: capitalize;
  font-weight: 300;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  border: none;
  background-color: #d54630;
  color: hsl(0deg, 0%, 100%);
  padding: 5px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border: 1px solid hsl(6deg, 45%, 64%);
  border-radius: 5px;
  margin: 5px 1px;
}

.btn-group {
  display: inline-block;
}

.btn-group .button:hover {
  font-weight: 700;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  border: none;
  background-color: hsl(6deg, 45%, 64%);
  color: rgb(37, 37, 37);
}

.btn-group .button:active, .btn-group .button:focus {
  font-weight: 700;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  border: none;
  background-color: hsl(6deg, 45%, 64%);
  color: rgb(37, 37, 37);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-btn {
  margin: 0 0 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

/* VARIABLES*/
/* custum properties - constants */
/* custom properties - constants */
/* font & weight */
/* 16 18 20 24 64 80 */
/* font sizes */
/* colors */
/*  h -> hue/color 0/360, s -> saturation 0/100, l -> lightness 0/100, a -> alpha 0/1 */
.box-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.box {
  padding: 5rem;
  text-align: center;
  border: 1px solid;
  border-color: #d54630;
  border-radius: 16px;
  background: rgb(37, 37, 37);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.product-category { /*titulo productos*/
  font-weight: 600;
  font-size: 2.125rem;
  color: #d54630;
  text-transform: uppercase;
  padding: 0.2rem 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.product-title { /*titulo productos*/
  font-weight: 900;
  font-size: 2.125rem;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
}

.product-description { /*titulo productos*/
  font-weight: 300;
  font-size: 1.25rem;
  color: hsl(0deg, 0%, 100%);
  padding: 0.5rem 0;
}

.product-details { /*titulo productos*/ }
.product-details div {
  font-weight: 400;
  font-size: 1.5rem;
  color: hsl(6deg, 45%, 64%);
  padding: 0.5rem 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.img-recipe {
  border-radius: 10px;
  max-height: auto;
  max-width: 280px;
  vertical-align: middle;
  overflow: clip;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}
@media only screen and (max-width: 480px) {
  .img-recipe {
    max-width: 150px;
  }
}
.img-recipe *, .img-recipe ::after, .img-recipe ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.price { /*precio*/
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}
.price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.box:hover { /*color caja productos*/
  background: #d54630;
}
.box:hover .product-category {
  font-weight: 600;
  font-size: 3rem;
  color: rgb(37, 37, 37);
}
.box:hover .product-details { /*titulo productos*/ }
.box:hover .product-details div {
  font-weight: 400;
  font-size: 1.5rem;
  color: rgb(37, 37, 37);
}
.box:hover .img-recipe {
  -webkit-box-shadow: -1px 2px 14px 1px rgb(0, 0, 0);
          box-shadow: -1px 2px 14px 1px rgb(0, 0, 0);
}

.new-recipe-img {
  border-radius: 10px;
  width: 70%;
  vertical-align: middle;
  overflow: clip;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.new-recipe-img *, .new-recipe-img ::after, .new-recipe-img ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.colorize-orange {
  background-color: #d54630;
}

/* VARIABLES*/
/* custum properties - constants */
/* custom properties - constants */
/* font & weight */
/* 16 18 20 24 64 80 */
/* font sizes */
/* colors */
/*  h -> hue/color 0/360, s -> saturation 0/100, l -> lightness 0/100, a -> alpha 0/1 */
.header .icons div {
  color: white;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: black;
}

/* VARIABLES*/
/* custum properties - constants */
/* custom properties - constants */
/* font & weight */
/* 16 18 20 24 64 80 */
/* font sizes */
/* colors */
/*  h -> hue/color 0/360, s -> saturation 0/100, l -> lightness 0/100, a -> alpha 0/1 */
.btn-inicio {
  font-weight: 300;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  border: none;
  background-color: hsl(0deg, 0%, 100%);
  color: #d54630;
  display: inline-block;
  padding: 0.9rem 3rem;
}

.btn-search {
  font-weight: 300;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  border: none;
  background-color: hsl(0deg, 0%, 100%);
  color: #d54630;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.btn-search:hover {
  font-weight: 300;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  border: none;
  background-color: hsl(6deg, 45%, 64%);
  color: rgb(37, 37, 37);
}

.like-btn {
  padding: 0.5rem;
  height: 50px;
  width: 55px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.view-recipe-btn {
  padding: 0.5rem;
  height: 50px;
  width: 55px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.like-btn:hover {
  height: 60px;
  width: 65px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  opacity: 80%;
}

.view-recipe-btn:hover {
  height: 65px;
  width: 70px;
  opacity: 80%;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: var(--black);
  width: 50rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top input;
          transform-origin: top input;
  transform-origin-height: 100%;
  transform-origin-width: 100%;
  transform-origin-font-size: 1.6rem;
  transform-origin-color: var(--black);
  transform-origin-padding: 1rem;
  transform-origin-text-transform: none;
}

.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);
}

.header .search-form label:hover {
  color: var(--main-color);
}

.header .search-form.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.btn-group .button {
  text-transform: capitalize;
  font-weight: 300;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  border: none;
  background-color: #d54630;
  color: hsl(0deg, 0%, 100%);
  padding: 5px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border: 1px solid hsl(6deg, 45%, 64%);
  border-radius: 5px;
  margin: 5px 1px;
}

.btn-group {
  display: inline-block;
}

.btn-group .button:hover {
  font-weight: 700;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  border: none;
  background-color: hsl(6deg, 45%, 64%);
  color: rgb(37, 37, 37);
}

.btn-group .button:active, .btn-group .button:focus {
  font-weight: 700;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  border: none;
  background-color: hsl(6deg, 45%, 64%);
  color: rgb(37, 37, 37);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-btn {
  margin: 0 0 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  color: #d54630;
}

.custom-form label {
  font-weight: 700;
  font-size: 1.25rem;
  color: #d54630;
}
.custom-form input {
  min-height: 3.125rem;
  line-height: initial;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: hsl(0deg, 0%, 100%);
  background-clip: padding-box;
  border: 1px solid #d54630;
  border-radius: 0.375rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.custom-form input a {
  font-weight: 300;
  font-size: 1.125rem;
  color: rgb(37, 37, 37);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.custom-form input a:hover {
  font-weight: 300;
  font-size: 1.125rem;
  color: rgb(75, 75, 75);
}
.custom-form textarea {
  min-height: 3.125rem;
  line-height: initial;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: hsl(0deg, 0%, 100%);
  background-clip: padding-box;
  border: 1px solid #d54630;
  border-radius: 0.375rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.custom-form select {
  word-wrap: normal;
  border: 2px solid;
  border-radius: 5px;
  border-color: #d54630;
  color: #d54630;
  padding: 0.5rem;
}

.log-reg-button {
  font-weight: 300;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  border: none;
  background-color: #d54630;
  color: hsl(0deg, 0%, 100%);
  padding: 0.9rem 3rem;
  min-height: 3.125rem;
  line-height: initial;
  width: 100% !important;
  border-radius: 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.log-reg-button:hover {
  font-weight: 300;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  border: none;
  background-color: hsl(6deg, 45%, 64%);
  color: rgb(37, 37, 37);
}

.create-account {
  font-weight: 600;
  font-size: 1.25rem;
  color: #d54630;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.create-account:hover {
  font-weight: 600;
  font-size: 1.5rem;
  color: hsl(6deg, 45%, 64%);
}

/* VARIABLES*/
/* custum properties - constants */
/* custom properties - constants */
/* font & weight */
/* 16 18 20 24 64 80 */
/* font sizes */
/* colors */
/*  h -> hue/color 0/360, s -> saturation 0/100, l -> lightness 0/100, a -> alpha 0/1 */
.principal-title {
  font-weight: 700;
  font-size: 4rem;
  color: hsl(0deg, 0%, 100%);
  text-align: left;
  line-height: 5rem;
  text-transform: uppercase;
  width: 80%;
}

@media only screen and (max-width: 480px) {
  .principal-title {
    font-weight: 700;
    font-size: 2.125rem;
    color: hsl(0deg, 0%, 100%);
    line-height: 2.5rem;
    width: 100%;
  }
}
.titles {
  font-weight: 700;
  font-size: 2.125rem;
  color: #d54630;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
}

.titles span {
  font-weight: 700;
  font-size: 2.125rem;
  color: hsl(6deg, 45%, 64%);
}

.category-title {
  font-weight: 700;
  font-size: 1.25rem;
  color: #d54630;
}

.profile-data {
  font-weight: 300;
  font-size: 1.25rem;
  color: rgb(37, 37, 37);
  text-align: center;
  text-transform: uppercase;
}

.profile-data-title {
  font-weight: 700;
  font-size: 1.25rem;
  color: #d54630;
  text-align: center;
  text-transform: uppercase;
}

.modal-container {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

ol {
  width: 80%;
}
ol li {
  font-weight: 500;
  font-size: 1.125rem;
  color: rgb(37, 37, 37);
}

.modal-titles {
  font-weight: 900;
  font-size: 2.125rem;
  color: #d54630;
}

.ingredients {
  font-weight: 300;
  font-size: 1.25rem;
  color: #d54630;
}

.times-title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #d54630;
  text-transform: uppercase;
}

.times-descriptions {
  font-weight: 300;
  font-size: 1.125rem;
  color: #d54630;
}

.instructions-description {
  font-weight: 300;
  font-size: 1.125rem;
  color: #d54630;
}

.divisor {
  height: 1px;
  width: 300px;
  background-color: rgb(37, 37, 37);
}

.btn-switch {
  font-weight: 400;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  border: none;
  background-color: #d54630;
  color: hsl(0deg, 0%, 100%);
  display: inline-block;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.btn-switch:hover {
  font-weight: 600;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  border: none;
  background-color: hsl(6deg, 45%, 64%);
  color: rgb(37, 37, 37);
  padding: 0.7rem 1rem;
}

.btn-close-modal {
  font-weight: 400;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  border: none;
  background-color: #d54630;
  color: hsl(0deg, 0%, 100%);
  display: inline-block;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.btn-close-modal:hover {
  font-weight: 600;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  border: none;
  background-color: rgb(255, 112, 112);
  color: rgb(37, 37, 37);
  padding: 0.7rem 1rem;
}

.btn-like-modal {
  font-weight: 400;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  border: none;
  background-color: rgb(0, 143, 12);
  color: hsl(0deg, 0%, 100%);
  display: inline-block;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.btn-like-modal:hover {
  font-weight: 600;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  border: none;
  background-color: rgb(146, 255, 132);
  color: rgb(37, 37, 37);
  padding: 0.7rem 1rem;
}

.modal-width {
  max-width: 1900px;
}

.modal-img-row {
  background: rgb(37, 37, 37);
  border-bottom: solid 0.3rem;
  border-top: solid 0.3rem;
  border-color: #d54630;
  width: auto;
  max-width: 1900px;
  margin-left: 0.01rem;
  margin-right: 0.01rem;
}

.modal-image {
  margin: auto;
  max-width: 100%;
  max-height: 600px;
  height: 600px;
}
@media only screen and (max-width: 480px) {
  .modal-image {
    height: auto;
  }
}

.modal-recipe-name {
  font-weight: 900;
  font-size: 2.125rem;
  color: #d54630;
}

.modal-recipe-summary {
  font-weight: 400;
  font-size: 1.25rem;
  color: hsl(0deg, 0%, 100%);
}

.darken-modal {
  background-color: rgb(37, 37, 37) !important;
}

.modal-details-row {
  border: solid 0.1rem;
  border-color: #d54630;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  width: auto;
  max-width: 1900px;
  margin-left: 0.01rem;
  margin-right: 0.01rem;
}
.modal-details-row div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-left: solid 0.1rem;
  border-color: #d54630;
  padding-left: 0px;
  padding-right: 0px;
}
.modal-details-row div h3 {
  font-weight: 600;
  font-size: 1.25rem;
  color: #d54630;
}
@media only screen and (max-width: 480px) {
  .modal-details-row div h3 {
    font-weight: 600;
    font-size: 1rem;
    color: #d54630;
  }
}
.modal-details-row div p {
  font-weight: 300;
  font-size: 1.125rem;
  color: hsl(0deg, 0%, 100%);
}
@media only screen and (max-width: 480px) {
  .modal-details-row div p {
    font-weight: 300;
    font-size: 1rem;
    color: hsl(0deg, 0%, 100%);
  }
}