@use '../abstracts/vars';
@use '../abstracts/mixins';


.header .icons div{
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:black;
}