@use '../abstracts/media-queries';
@use '../base/mixins';
@use '../abstracts/vars';
@use '../base/typography';
.modal-container{
   justify-content: left;   
}

ol{
    width: 80%;
    li{
        @include mixins.set-font(vars.$fw-med, vars.$fs-sm, vars.$clr-light-black-2);
    }
}

.modal-titles{
    @include mixins.set-font(vars.$fw-xbold, vars.$fs-mdl, vars.$clr-orange-100);
    padding-top: 3rem;
    padding-left: 3rem;
} 

.ingredients{
    @include mixins.set-font(vars.$fw-light, vars.$fs-rg, vars.$clr-orange-100);
    padding-right: 4rem; 
}

.times-title{
    @include mixins.set-font(vars.$fw-semibold, vars.$fs-rg, vars.$clr-orange-100);
    text-transform: uppercase;
}

.times-descriptions{
    @include mixins.set-font(vars.$fw-light, vars.$fs-sm, vars.$clr-orange-100);
}

.instructions-description{
    @include mixins.set-font(vars.$fw-light, vars.$fs-sm, vars.$clr-orange-100);
}

.divisor{
    
height: 1px;
width: 300px;
background-color: vars.$clr-light-black-2;

}

.btn-switch{
    @include mixins.btn(vars.$fw-reg, vars.$fs-rg, none, vars.$clr-orange-100, vars.$clr-white);
    display: inline-block;
    padding: .5rem .8rem;
    border-radius: 4px;
    transition: .5s ease;
}

.btn-switch:hover{
    @include mixins.btn(vars.$fw-semibold, vars.$fs-rg, none, vars.$clr-orange-200, vars.$clr-light-black-2);
    padding: .7rem 1rem;
}

.btn-close-modal{
    @include mixins.btn(vars.$fw-reg, vars.$fs-rg, none, vars.$clr-orange-100, vars.$clr-white);
    display: inline-block;
    padding: .5rem .8rem;
    border-radius: 4px;
    transition: .5s ease;
}

.btn-close-modal:hover{
    @include mixins.btn(vars.$fw-semibold, vars.$fs-rg,
    none, vars.$clr-red, vars.$clr-light-black-2);
    padding: .7rem 1rem;
}

.btn-like-modal{
    @include mixins.btn(vars.$fw-reg, vars.$fs-rg, 
    none, vars.$clr-dark-green, vars.$clr-white);
    display: inline-block;
    padding: .5rem .8rem;
    border-radius: 4px;
    transition: .5s ease;
}

.btn-like-modal:hover{
    @include mixins.btn(vars.$fw-semibold, vars.$fs-rg,
    none, vars.$clr-light-green, vars.$clr-light-black-2);
    padding: .7rem 1rem;
}

.modal-width{
    max-width: 1900px;    
}
