@use '../abstracts/media-queries';
@use '../base/mixins';
@use '../abstracts/vars';
@use '../base/typography';
.modal-container{
   justify-content: left;   
}

ol{
    width: 80%;
    li{
        @include mixins.set-font(vars.$fw-med, vars.$fs-sm, vars.$clr-light-black-2);
    }
}

.modal-titles{
    @include mixins.set-font(vars.$fw-xbold, vars.$fs-mdl, vars.$clr-orange-100);
} 

.ingredients{
    @include mixins.set-font(vars.$fw-light, vars.$fs-rg, vars.$clr-orange-100); 
}

.times-title{
    @include mixins.set-font(vars.$fw-semibold, vars.$fs-rg, vars.$clr-orange-100);
    text-transform: uppercase;
}

.times-descriptions{
    @include mixins.set-font(vars.$fw-light, vars.$fs-sm, vars.$clr-orange-100);
}

.instructions-description{
    @include mixins.set-font(vars.$fw-light, vars.$fs-sm, vars.$clr-orange-100);
}

.divisor{
    
height: 1px;
width: 300px;
background-color: vars.$clr-light-black-2;

}

.btn-switch{
    @include mixins.btn(vars.$fw-reg, vars.$fs-rg, none, vars.$clr-orange-100, vars.$clr-white);
    display: inline-block;
    padding: .5rem .8rem;
    border-radius: 4px;
    transition: .5s ease;
}

.btn-switch:hover{
    @include mixins.btn(vars.$fw-semibold, vars.$fs-rg, none, vars.$clr-orange-200, vars.$clr-light-black-2);
    padding: .7rem 1rem;
}

.btn-close-modal{
    @include mixins.btn(vars.$fw-reg, vars.$fs-rg, none, vars.$clr-orange-100, vars.$clr-white);
    display: inline-block;
    padding: .5rem .8rem;
    border-radius: 4px;
    transition: .5s ease;
}

.btn-close-modal:hover{
    @include mixins.btn(vars.$fw-semibold, vars.$fs-rg,
    none, vars.$clr-red, vars.$clr-light-black-2);
    padding: .7rem 1rem;
}

.btn-like-modal{
    @include mixins.btn(vars.$fw-reg, vars.$fs-rg, 
    none, vars.$clr-dark-green, vars.$clr-white);
    display: inline-block;
    padding: .5rem .8rem;
    border-radius: 4px;
    transition: .5s ease;
}

.btn-like-modal:hover{
    @include mixins.btn(vars.$fw-semibold, vars.$fs-rg,
    none, vars.$clr-light-green, vars.$clr-light-black-2);
    padding: .7rem 1rem;
}

.modal-width{
    max-width: 1900px !important;
    padding-left: 10px;
}
.modal-dialog{
    max-width: 1900px !important;
    padding-left: 10px;    
}

.modal-img-row{
    background: vars.$clr-light-black-2;
    border-bottom:solid 0.3rem;
    border-top:solid 0.3rem;
    border-color: vars.$clr-orange-100;
    width: auto;
    max-width: 1900px;
    margin-left: 0.01rem;
    margin-right: 0.01rem;
}

.modal-image {
    margin: auto;
    max-width: 100%;
    max-height: 600px;
    height: 600px;
    @include media-queries.respond-to(media-queries.$phone){
    height: auto;
    }
}

.modal-recipe-name{
    @include mixins.set-font(vars.$fw-xbold, vars.$fs-mdl, vars.$clr-orange-100);
} 

.modal-recipe-summary{
    @include mixins.set-font(vars.$fw-reg, vars.$fs-rg, vars.$clr-white);
} 

.darken-modal{
    background-color: vars.$clr-light-black-2 !important;
}

.modal-details-row{
    border:solid 0.1rem;
    border-color: vars.$clr-orange-100;
    border-radius: .5rem;
    padding: 0.5rem 0;
    width: auto;
    max-width: 1900px;
    margin-left: 0.01rem;
    margin-right: 0.01rem;
    div{
        align-items: center;
        text-align: center;
        border-left: solid 0.1rem;
        border-color: vars.$clr-orange-100;
        padding-left: 0px;
        padding-right: 0px;

        h3{
            @include mixins.set-font(vars.$fw-semibold, vars.$fs-rg, vars.$clr-orange-100);
            @include media-queries.respond-to(media-queries.$phone){
                @include mixins.set-font(vars.$fw-semibold, vars.$fs-xsm, vars.$clr-orange-100);                
            }
        }

        p{
            @include mixins.set-font(vars.$fw-light, vars.$fs-sm, vars.$clr-white);
            @include media-queries.respond-to(media-queries.$phone){
                @include mixins.set-font(vars.$fw-light, vars.$fs-xsm, vars.$clr-white);                
            }
        }
    }

}

